.card {
    background-color: var(--main-dark-color);
    color: white;
    min-width: 220px;
    height: 220px;
    border-radius: 15px;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

.title {
    margin: 0;
    margin-bottom: 10px;
}

.section {
    overflow-x: hidden;

}

.card:hover {
    transform: scale(1.02);
}


.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 -5px 10px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 33%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.bar::-webkit-scrollbar {
    display: none;
}

.card-title {
    text-align: left !important;
    margin: 0 10px;
}

.card-desc {
    margin: 0 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.button-2 {
    background: transparent;
    border: 3px solid white;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    margin-top: 20px;
  }

.tag-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
}

.tag {
    margin: 0;
    background-color: #ffa3ea;
    padding: 1px 7px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    color: #d23baf;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
}

.tag.creation {
    background-color: #eaffa3;
    color: #d2af3b;
}

.tag.event {
    background-color: #a3ffbb;
    color: #319f4e;
}

.tag p {
    margin: 0;
}

.tag-dot {
    width: 5px;
    height: 5px;
    background-color: #d23baf;
    border-radius: 100%;
}

.tag-dot.creation {
    background-color: #d2af3b;
}

.tag-dot.event {
    background-color: #319f4e;
}