@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
 /* CSS VARIABLES will go here */
  font-family: "Inter", sans-serif !important;
  --css-variable-here: 239, 245, 249;
  --main-dark-color: #141718;
  --main-grey-color: #232627;
  --light-border-color: #313536;
  --selected-highlight-color: #313236;
}


@media (prefers-color-scheme: dark) {
  /* Possible dark mode */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  color: white;
  background-color: var(--main-dark-color);
}

