.card {
    background-color: var(--main-dark-color);
    /* margin: 10px; */
    padding: 10px 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.note-card {
    grid-row: 1 / 3;
}

.annoucement-log-card {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}

.upcoming-event-card {
    grid-column: 1 / 2;
}

.gallery-card {
    grid-column: 2 / 3;
}

.latest-creations-card {
    grid-column: 3 / 4;
}

.title {
    margin: 0;
}

.title-edit {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}

.user-card {
    background-color: white;
}

.annoucement-title {
    text-align: center;
    margin: 0px;
}

.annoucement {
    background-color: var(--main-grey-color);
    padding: 10px 5px;
}

.annoucement-feed {
    font-size: 14px;
    /* margin-top: 10px; */
}

.sender-name {
    font-weight: bold;
    color: rgb(252, 14, 14);
    text-transform: capitalize;
}

.system {
    color: rgb(199, 23, 199);
}

.small-title {
    margin: 0;
    font-size: 12px;
}

.event-holder {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.event-image {
    max-width: 50%;
    max-height: 100%;
    aspect-ratio: 1;
}

.upcoming-event-button-holder {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 10px; */
}

.event-button {
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;
    width: 50%;
}

.gallery-image {
    width: 70%;
}

.gallery-holder {
    flex-grow: 1;
    max-height: 90%;
}

.gallery-image-holder {
    max-height: 100%;

    overflow: hidden;
    display: flex;
    justify-content: center;
}

.gallery-button {
    background-color: #23262700;
    border: none;
}

.gallery-button:hover {
    background-color: #232627a3;
}

.arrow-icon {
    width: 15px;
    height: 15px;
}



.latest-creations-card-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0px;
}

.creations-text-holder {
    text-align: center;
    width: 100%;
    height: 50%;
}

.creation-name {
    margin: 0px;
}

.creator-name {
    margin: 0px;
    font-size: 14px;
}

.more-button {
    background: transparent;
    border: none;
}

.more-icon {
    width: 15px;
    height: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.save-button {
    background-color: white;
    padding: 5px 15px;
    border-radius: 15px;
    width: 30%;
}